<ion-view view-title="Browse">
  <div class="container">
    <div class="row ">
      <div class="col text_div">Favoritos</div>
      <div class="col col-10">
        <a class="button button-icon icon flaticon-favorite a-icon"></a> 
      </div>
      <div class="col col-10"></div>
    </div>

    <div class="row ">
      <div class="col text_div">Produtores</div>
      <div class="col col-10">
        <a class="button button-icon icon flaticon-people a-icon"></a> 
      </div>
      <div class="col col-10"></div>
    </div>

    <div class="row ">
      <div class="col text_div">Artistas</div>
      <div class="col col-10">
        <a class="button button-icon icon flaticon-music a-icon"></a> 
      </div>
      <div class="col col-10"></div>
    </div>

    <div class="row ">
      <div class="col text_div">Adicione um artista</div>
      <div class="col col-10">
        <a class="button button-icon icon flaticon-social a-icon"></a> 
      </div>
      <div class="col col-10"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col col-10">
        <a class="button button-icon icon flaticon-close a-icon" ng-click="closeModal()"></a> 
      </div>
      <div class="col col-10"></div>
    </div>
  </div>
  <ion-content class="browse">  
  </ion-content>
</ion-view>
