<ion-view view-title="Playlists">
  <button class="button button-positive custom" ng-click = "openModal()">
    <i class=" flaticon-arrow"></i> 
  </button> 
  <div class="model">
    asdfsdfdf
    asdfasdf
  </div>

  <ion-content >
    <ion-list>
      <ion-item ng-repeat="image in images" class="image-item">
        <img src="{{image.link}}" class="image" />
      </ion-item>
    </ion-list>
    
    
    
    
  </ion-content>
</ion-view>
