<ion-view hide-nav-bar="true">
  <!--<ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>-->
  <ion-content class="login">
    <div class="main">
      <div class="row">
        <div class="col img-div">
          <img src="../img/login.png" />
        </div>
      </div>

      <div class="row">
        <div class="col txt-div">
          Inscreva-se no aplicative e cris <br> 
          gratuitamente uma agenda <br>
          com seus contatos favoritos
        </div>
        
      </div>

      <div class="row">
        <div class="col col-50">
          <button class="button button-block button-positive btn-slide" ng-click="goToHome()">
            Login
          </button>
        </div>
        <div class="col col-50">
          <button class="button button-block button-positive btn-slide" ng-click="goToHome()">
            Iscreva-se
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="button button-block button-positive btn-slide" ng-click="goToHome()">
            Ir para p aplicative
          </button>
        </div>
        
      </div>

    </div>
    

    <!--<form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>-->
  </ion-content>
</ion-view>
