<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content class="menu">
      <ion-list>
        <ion-item menu-close class="item-first" >
          <div class="row spacer">

          </div>
          <div class="row">
            <div class="col col-50">
              <button class="button button-block button-positive btn-slide" ui-sref="app.login" >
                Login
              </button>
            </div>
            <div class="col col-50">
              <button class="button button-block button-positive btn-slide">
                Iscreva-se
              </button>
            </div>
          </div>
        </ion-item>

        <ion-item menu-close href="#/app/search">
          <div class="item-icon-left">
              <i class="icon flaticon-black-1"></i>
              <div>Adicione um artista</div>
          </div>
        </ion-item>

        <ion-item class="item_no_border" menu-close href="#/app/browse">
          <div class="item-icon-left">
              <i class="icon flaticon-music"></i>
              <div>Artistas</div>
          </div>
        </ion-item>

        <ion-item class="item_no_border" menu-close href="#/app/playlists">
          <div class="item-icon-left">
              <i class="icon flaticon-people"></i>
              <div>Producer</div>
          </div>
        </ion-item>

        <ion-item class="item_no_border" menu-close href="#/app/playlists">
          <div class="item-icon-left">
              <i class="icon flaticon-search"></i>
              <div>Pesquisar</div>
          </div>
        </ion-item>

        <ion-item menu-close href="#/app/playlists">
          <div class="item-icon-left">
              <span>Opcoes para usuarios registrados </span>
              <i class="icon flaticon-social-1"></i>
              <div>Meuscontatos favoritos</div>
          </div>
        </ion-item>

        <ion-item class="item_no_border" menu-close href="#/app/playlists">
          <div class="item-icon-left">
              <i class="icon flaticon-interface-1"></i> 
              <div>Avalier Applicativo</div>
          </div>
        </ion-item>

        <ion-item class="item_no_border" menu-close href="#/app/playlists">
          <div class="item-icon-left">
              <i class="icon flaticon-info"></i>
              <div>Anuncie</div>
          </div>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
