/* Empty. Add your own CSS if you like */
.image {
  width: 100% !important;
}
.image-item .item-content{
  padding : 0 !important;
}
.image-item {
  padding : 0 !important;
}
.custom{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: absolute !important;
  float: right !important;
  bottom: 2% !important;
  z-index: 100 !important;
  right: 5%;
  z-index: 100 !important;
}
.custom i{
  margin-left: -20px;
}
.spacer{
  height: 85px;
}
.item_no_border{
  border: none !important; 
}
.item-content, .menu, p{
  background: rgb(192, 32, 51) !important;
  color: white;
}
.item{
  color: white;
}

.btn-slide{
  border-radius: 30px;
}
.item-first{
  background: url('../../img/sideBackground.png') !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.item-first .row{
  padding-top: 35px;
  margin-bottom: -25px;
}
.pane{
  background: rgba(0, 0, 0, 0.84);
}

.icon_div{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: #b60024 !important;
    color: white;
    padding-top: 20px;
    padding-left: 2px;

}
.container{
    position: absolute !important;
    float: right !important;
    bottom: 0% !important;
    z-index: 100 !important;
    right: 8%;
    color: white;

}
.text_div{
    font-size: 20px;
    text-align: right;
    padding-top: 28px;
}
.a-icon{
  background: red;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 0px !important;
  color: white !important;
}
.login{
  background: #2d6466;
}
.login .main{
  width: 90%;
  margin-left: 5%;

}
.login .txt-div, .login .img-div{
  text-align: center;
  color: white;
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 200px;
}